{% extends 'student/base_student_dashboard.html' %}
{% load static %}
{% block home_content %}

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Complete Quiz</h4>

    <div class="row">
      <div class="col-md-12"> <!-- Adjusted to full width -->
        <div class="card mb-4">
          <h5 class="card-header d-flex justify-content-between align-items-center">
            <span>{{ quiz.title }}</span>
            <span><h6>{{ question_index }}/{{ total_questions }}</h6></span>
        </h5>
          <div class="card-body">
              <form method="post" action="">
                  {% csrf_token %}
                  
                  <!-- Full-width question -->
                  
                  

                    <div class="mb-3">
                        <label for="questionInput" class="form-label">Question</label>
                        <input type="text" class="form-control" id="questionInput" placeholder="Enter question" name="question" style="width: 100%;" value="{{question.question_text}}" readonly/>
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Options</label>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="answer"
                              id="option1"
                              value="1"
                              {% if selected_option == 1 %}checked{% endif %} required
                            />
                            <label class="form-check-label" for="option1">{{ question.option_1 }}</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="answer"
                              id="option2"
                              value="2"
                              {% if selected_option == 2 %}checked{% endif %} required
                            />
                            <label class="form-check-label" for="option2">{{ question.option_2 }}</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="answer"
                              id="option3"
                              value="3"
                              {% if selected_option == 3 %}checked{% endif %} required
                            />
                            <label class="form-check-label" for="option3">{{ question.option_3 }}</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="answer"
                              id="option4"
                              value="4"
                              {% if selected_option == 4 %}checked{% endif %} required
                            />
                            <label class="form-check-label" for="option4">{{ question.option_4 }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                                      
                
                  <div class="d-flex justify-content-between w-100">
                    <!-- Previous button, disabled if not possible to go back -->
                    {% if previous_question_index is not None %}
                        <a href="{% url 'quiz_question' quiz.id previous_question_index %}" class="btn btn-secondary">
                            Previous
                        </a>
                    {% else %}
                        <a class="btn btn-secondary disabled" href="#">
                            Previous
                        </a>
                    {% endif %}
                  
                    <!-- Next/Finish button, always aligned to the right -->
                    <div class="ml-auto">
                        {% if next_question_index <= total_questions %}
                            <button type="submit" class="btn btn-primary">Next</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Finish</button>
                        {% endif %}
                    </div>
                </div>
                
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
