{% extends "base-1.html" %}
{% load static %}

{% block title %}
    <title>Edubin - Teachers</title>
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/teachers_img_style.css' %}">
    
    <!--====== HEADER PART ENDS ======-->
   
    <!--====== SEARCH BOX PART START ======-->
    
    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>
    
    <!--====== SEARCH BOX PART ENDS ======-->
   
    <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url('{% static "images/page-banner-2.jpg" %}');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Teachers</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Teachers</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
   
    <!--====== TEACHERS PART START ======-->
    
    <section id="teachers-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                {% for teacher in teachers %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="singel-teachers mt-30 text-center">
                            <div class="image">
                                <img src="{{ teacher.profile_image.url }}">
                            </div>
                            <div class="cont">
                                <a href=" {% url 'teachers_details' teacher.id %} "><h6>{{ teacher.username }}</h6></a>
                                <span>
                                    {% if teacher.instructor.designation %}
                                        {{ teacher.instructor.designation }}
                                    {% else %}
                                        ...
                                    {% endif %}
                                </span>
                            </div>
                        </div> <!-- singel teachers -->
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </section>

    
    
    <!--====== TEACHERS PART ENDS ======-->
   
    <!--====== FOOTER PART START ======-->
    
    {% endblock %}