{% extends 'teacher/teacher_dashboard.html' %}
{% load static %}

{% block content %}


          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Level List</h4>

              <!-- Bordered Table -->
              <div class="card">


                <div class="row align-items-center flex-nowrap">
                  <div class="col">
                      <h5 class="card-header">Level List</h5>
                  </div>
                  <div class="col-auto me-4">
                      <a href="{% url 'add_level' %}" class="btn btn-primary">Add New Level</a>
                  </div>
              </div>

                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    
                       <table class="table table-bordered">
                        <thead>
                          <tr>
                            
                            <th>Level</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data in levels %}
                          <tr>
                            
                            <td>{{ data.name }}</td>
                            <td>
                              <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'update_level' data.id %}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                  <a class="dropdown-item" href="{% url 'delete_level' data.id %}"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
              <!--/ Bordered Table -->

              <hr class="my-5" />

              

              
                        
                
              <!--/ Responsive Table -->
            </div>
            <!-- / Content -->

           {% endblock %}