{% extends 'teacher/teacher_dashboard.html' %}
{% load static %}

{% block content %}
<div class="content-wrapper">
    <!-- Content -->
    <p>Total videos: {{ videos|length }}</p>

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Video List</h4>

        <!-- Bordered Table -->
        <div class="card">
            <div class="row align-items-center flex-nowrap">
                <div class="col">
                    <h5 class="card-header">Video List</h5>
                </div>
                <div class="col-auto me-4">
                    <a href="{% url 'create_video' %}" class="btn btn-primary">Add New Video</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive text-nowrap">

                    <table class="table ">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Thumbnail</th>
                                <th style="text-align: center;">Title</th>
                                <th style="text-align: center;">Course</th>
                                <th style="text-align: center;">Lesson</th>
                                <th style="text-align: center;">Video</th>
                                <th style="text-align: center;">Duration</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for video in videos %}
                            <tr>
                                <td><img src="{{ video.thumbnail.url }}" alt="Thumbnail" style="width: 50px; height: 50px;"></td>
                                <td>{{ video.title }}</td>
                                <td>{{ video.course }}</td>
                                <td>{{ video.lesson }}</td>
                                <td>
                                    {% if video.video %}
                                        <a href="{{ video.video.url }}" target="_blank">Watch Video</a>
                                    {% else %}
                                        No Video
                                    {% endif %}
                                </td>
                                <td>{{ video.time_duration }} Minutes</td>
                                <td>
                                    <a href="{% url 'video_update' video.id %}" class="btn btn-warning btn-sm">Edit</a>
                                    <form method="POST" action="{% url 'delete_videos' video.id %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7"  style="text-align: center;" >Videos not added.</td>
                            </tr>
                        {% endfor %}
        
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ Bordered Table -->


    </div>
    {% endblock %}