{% extends 'teacher/teacher_dashboard.html' %}
{% load static %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Basic Inputs</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <h5 class="card-header">Category</h5>
                <div class="card-body">
                    <form method="post" action="{% url 'add_category' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="iconInput" class="form-label">Icon</label>
                            <input type="file" class="form-control" id="iconInput" name="icon" />
                            <div id="iconHelp" class="form-text">
                                Upload an image icon for the category.
                            </div>
                        </div>
                        <div>
                            <label for="nameInput" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="nameInput" placeholder="Enter category name"
                                name="name" />
                            <div id="nameHelp" class="form-text">
                                Enter the name of the category you wish to add.
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}