{% extends 'teacher/teacher_dashboard.html' %}
{% load static %}

{% block content %}
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> What You Learn</h4>

              <div class="row">
                <div class="col-md-6">
                  <div class="card mb-4">
                    <h5 class="card-header">Add What You Learn</h5>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Add Points</button>
                        </form>
                        
                    </div>
                </div>
                

            
            </div>
          </div>
        </div>
            <!-- / Content -->

            {% endblock %}