{% extends 'teacher/teacher_dashboard.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Lesson List</h4>

        <!-- Bordered Table -->
        <div class="card">
            <div class="row align-items-center flex-nowrap">
                <div class="col">
                    <h5 class="card-header">Lesson List</h5>
                </div>
                <div class="col-auto me-4">
                    <a href="{% url 'add_lesson' %}" class="btn btn-primary">Add New Lesson</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Lesson Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if lessons %}
                            {% for lesson in lessons %}
                            <tr>
                                <td>{{ lesson.course.title }}</td>
                                <td>{{ lesson.name }}</td>
                                <td>
                                    <a href="{% url 'update_lesson' lesson.id %}"
                                        class="btn btn-warning btn-sm">Edit</a>
                                    <form method="POST" action="{% url 'delete_lesson' lesson.id %}"
                                        style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3" style="text-align: center;">No lessons available</td>

                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ Bordered Table -->


    </div>
    <!-- / Content -->



    {% endblock %}