{% extends 'teacher/teacher_dashboard.html' %}
{% load static %}

{% block content %}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Resource List</h4>

        <!-- Bordered Table -->
        <div class="card">

            <div class="row align-items-center flex-nowrap">
                <div class="col">
                    <h5 class="card-header">Resource List</h5>
                </div>
                <div class="col-auto me-4">
                    <a href="{% url 'add_resource' %}" class="btn btn-primary">Add New Resource</a>
                </div>
            </div>



            <div class="card-body">
                <div class="table-responsive text-nowrap">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Resource Type</th>
                                <th>Course</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if resources %}
                            {% for resource in resources %}
                            <tr>
                                <td>{{ resource.title }}</td>
                                <td>{{ resource.get_resource_type_display }}</td>
                                <td>{{ resource.course.title }}</td>
                                <td>
                                    <a href="{% url 'update_resource' resource.id %}" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="{% url 'delete_resource' resource.id %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="4"  style="text-align: center;" >Resource not added.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/ Bordered Table -->


    </div>
    <!-- / Content -->



    {% endblock %}
